.main_img {
    width: 200px;
    height: 70px;
    background: url('https://ats-sb.adobe.com/jjsite/include/images/jj_logo_green.png');
    background-size: cover;
    background-position: 20% 40%;
}